.todoList {
    background-color: rgb(66,22,66);
    color: rgb(205, 205, 205);
    letter-spacing: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 90px;
    margin-top: 15px;
    transition:  background-color 0.4s;
}

.todoList:hover {
    background-color: rgb(44,11,44);
}

.todoList__leftSide {
    font-size: 20px;
}
.todoList__rightSide {
    align-items: center;
}

.todoList__rightSide  > button{
    margin-left: 20px;
    padding: 9px;
    border-radius: 10%;
    background-color: rgb(205, 205, 205);
    color:rgb(66,22,66);
    transition: background-color .2s;
    cursor: pointer;
}

.todoList__rightSide  > button:hover{
    color: rgb(205, 205, 205);
    background-color: rgb(66,22,66);
}


@media screen and (max-width: 400px) {
    .todoList {
      display: grid;
      padding-bottom: 20px;
    }
    .todoList__rightSide {
        padding-top: 10px;
    }
  }